h1 {
    border-bottom: inset;
}
h5 {
    font-style: italic;
}
pre {
    color: red;
    font-style: italic;
    font-size: 1.1rem;
}
figure {
    display: inline-block;
    font-size: 0.7em;
    margin: 5px;
}
img.poltrona {
    width: 24px;
    height: 16px;
}
.entre-letras {
    letter-spacing: 0.5em;
}
body {
    background-color: grey;
}
img {
    float: left;  
    height: 230px;
    width: 500px;
    border: 2px black solid; /*largura, cor, estilo*/
    border-radius: 20px; /*arredonda as bordas*/
    box-shadow: 0px 5px 10px 0px rgb(17, 17, 17); /*sombra*/
}
input {
    border: 2px black solid; /*largura, cor, estilo*/
    border-radius: 5px; /*arredonda as bordas*/
    box-shadow: 0px 5px 10px 0px rgb(17, 17, 17); /*sombra*/    
}